<h1>RPS - Homework Assignment 6, due March 7</h1>
    <p>
      This is the page for the Rock, Paper, Scissors. <br />
	  To play, click the following links and see how you perform against the computer. <br />
    </p>